@model IEnumerable<Zapisi>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Upravitelj zapisa</h2>
        </div>
        <div class="col-6" text-end">
            <a asp-controller="Zapisi" asp-action="Create" class="btn btn-primary">Novi zapis</a>
        </div>
    </div>
</div>
<br />

<table class="table" style="width:60%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Vrijeme
            </th>
            <th>
                Prihvaceno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @item.IDzapisa
                </td>
                <td>
                    @item.Ime
                </td>
                <td>
                    @item.Prezime
                </td>
                <td>
                    @item.vrijeme
                </td>
                    @if(item.Prihvaceno == true){ <td>Prihvaceno je</td>}
                    @if (item.Prihvaceno == false){<td>Nije prihvaceno</td>}
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Zapisi" asp-action="Edit" asp-route-id="@item.IDzapisa"><span class="badge bg-primary">Edit</span></a>
                        <a asp-controller="Zapisi" asp-action="Delete" asp-route-id="@item.IDzapisa"><span class="badge bg-danger">Delete</span></a>
                        <a asp-controller="Zapisi" asp-action="Prihvati" asp-route-id="@item.IDzapisa"><span class="badge bg-success">Prihvati</span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

